 /* p::first-letter{
  font-size: 2em;
  color: red;
}

p::first-line{
  color: orange;
}

p::selection{
  background-color: darkcyan;
  color: whitesmoke;
}

p{
  cursor: pointer;
}

button{
  cursor: pointer;
}  */


p::before,p::after{
  color: red;
  background-color: darkcyan;
}
p::before{
  content: '>>>>>>';
}
p::after{
  content: '<<<<<<';
}

ul{
  margin: 30px auto 20px;
  width: 80%;
  text-align: center;
}
li{
  background-color: rgb(186, 203, 233);
  position: relative;
}

li + li{
  margin-top: 20px;
}

li::before,li::after{
  position: absolute;
  font-size: 2em;
}

li::before{
 content: open-quote;
  right: calc(100% + 5px);
  top: -0.4em;
}
li::after{
  content:close-quote;
  left: calc(100% + 5px);
  bottom: -0.9em;
}