 p::first-letter{
  font-size: 2em;
  color: red;
}

p::first-line{
  color: orange;
}

p::selection{
  background-color: darkcyan;
  color: whitesmoke;
}

p{
  cursor: pointer;
}

button{
  cursor: pointer;
} 

