 /* p::first-letter{
  font-size: 2em;
  color: red;
}

p::first-line{
  color: orange;
}

p::selection{
  background-color: darkcyan;
  color: whitesmoke;
}

p{
  cursor: pointer;
}

button{
  cursor: pointer;
}  */


p::before,p::after{
  color: red;
  background-color: darkcyan;
}
p::before{
  content: '>>>>>>';
}
p::after{
  content: '<<<<<<';
}

ul{
  margin: 30px auto 20px;
  width: 80%;
}

li + li{
  margin-top: 20px;
}

li::before{
  display: inline-block;
  content: url("../images/anchor.svg");
  transform: scale(0.8);
  vertical-align: middle;
}